body {
    overflow: hidden;
    margin: 0;
}
body::backdrop{
    background-color: rgba(255,255,255,0);
}
#upBoard {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10vw;
    aspect-ratio: 1/1;
    background-color: rgb(239 239 239);
    border-radius: 10px;
}
#point {
    display: block;
    background-color: black;
    border-radius: 50%;
    width: 3%;
    aspect-ratio: 1/1;
    position: relative;
    transform: translate(-50%, -50%);
}

#centerUser {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    color: #2C5364;
    aspect-ratio: 1/1;
    width: 100px;
}

#playDivBckg{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playDiv {
    font-size: 50;
    padding: 20px;
    border-radius: 20px;
    background: rgb(75, 147, 255);
    color: white;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    transition: background .4s, padding .4s;
}

#playDiv:hover {
    background: rgb(18, 78, 167);
    padding: 30px;
}

.alertParent {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.alertRed {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
}

#touchPad {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
    width: 10vw;
    aspect-ratio: 1/1;
    background:rgba(172, 172, 172, 0.237);
}

#smartphoneFullScreen{
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    padding: 10%;
    box-sizing: border-box;
    z-index: 100000;
    background-color: #d2fdff;
    font-weight: 500;
    line-height: 150%;
    display: none;
}

#smartphoneRotate{
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
    padding: 10%;
    box-sizing: border-box;
    z-index: 100000;
    background-color: #d2fdff;
    font-weight: 500;
    line-height: 150%;
    display: none;
}
